# Laravel
app/.env
app/vendor/
app/node_modules/
app/storage/*.key
app/storage/logs/*.log
app/storage/framework/cache/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/bootstrap/cache/*
!app/storage/.gitkeep
!app/bootstrap/cache/.gitkeep

# Docker
mysql_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


